<!-- <app-login></app-login> -->

<!-- <app-home></app-home> -->
<div class="page-wrapper chiller-theme toggled">
  <a id="show-sidebar" class="btn btn-sm btn-dark" href="#">
    <i class="fa fa-bars"></i>
  </a>
  <nav id="sidebar" class="sidebar-wrapper">
    <div class="sidebar-content">
      <div class="sidebar-brand">
        <a href="#">Users Data</a>
        <div id="close-sidebar">
          <i class="fas fa-times"></i>
        </div>
      </div>
      
      <!-- sidebar-header  -->
      <div class="sidebar-search">
        <div>
          <div class="input-group">
            <input type="text" class="form-control search-menu" placeholder="Search...">
            <div class="input-group-append">
              <span class="input-group-text">
                <i class="fa fa-search" aria-hidden="true"></i>
              </span>
            </div>
          </div>
        </div>
      </div>
      <!-- sidebar-search  -->
      <div class="sidebar-menu">
        <ul routerLinkActive="active">
          <li class="sidebar-dropdown">
            <a routerLink="/home">
              <i class="fa fa-users"></i>
              <span>List Of Users</span>
            </a>
          </li>

          <li class="sidebar-dropdown">
            <a routerLink="/profile">
              <i class="fa fa-user"></i>
              <span>Profile</span>
            </a>
          </li>
          <li class="sidebar-dropdown">
            <a routerLink="/settings">
              <i class="fa fa-cog"></i>
              <span>Settings</span>
            </a>
          </li>
          <li class="sidebar-dropdown">
            <a href="#">
              <i class="fa fa-sign-out-alt"></i>
              <span>LogOut</span>
            </a>
          </li>
        </ul>
      </div>
      <!-- sidebar-menu  -->
    </div>
  
  </nav>
  <!-- sidebar-wrapper  -->
  <main class="page-content">
    <div class="container-fluid">
      
    </div>
  </main>
  <!-- page-content" -->

  <div class="page-content">
    <router-outlet></router-outlet>
 </div>
</div>
<!-- <router-outlet></router-outlet> -->
